<div class="footer-container"  [dir]="'dir' | translate">
    <div class="inner-footer">
        <div class="left-side">
            
                <img src="../../../assets/images/sidebar/logo.png" alt="">
                <span class="name">{{'dashbord.footer.notes' | translate }}</span> 
        </div>
        <div class="right-side">
            <div class="col">
                <h2 class="resources">{{'dashbord.footer.resources' | translate }}</h2>
                <ul class="">
                    <li class="mb-4">
                        <a href="" class="hover:underline">{{'dashbord.footer.bootstrap' | translate }}</a>
                    </li>
                    <li>
                        <a href="" class="hover:underline">{{'dashbord.footer.tailwind' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col"> 
                <h2 class="resources">{{'dashbord.footer.followUs' | translate }}</h2>
                <ul class="">
                    <li class="mb-4">
                        <a href="https://github.com/themesberg/flowbite" class="hover:underline ">{{'dashbord.footer.github' | translate }}</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">{{'dashbord.footer.discord' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2 class="resources">{{'dashbord.footer.Legal' | translate }}</h2>
                <ul class="">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">{{'dashbord.footer.Privacy' | translate }}</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">{{'dashbord.footer.terms' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
