
.sidebar .image-text img{
    width: var(--size-800);
    border-radius: var(--size-300);
}
.sidebar .text{
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--text-color);
}
.sidebar header {
    position:  relative;
}

.sidebar.close{
    width: var(--size-1000);
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar{
  
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--size-300) var(--size-500);
    height: 100%;
    width:calc(100% / 6);
    background-color:var(--sidebar-color);
    transition: var(--tran-04);
}
.sidebar header .image-text{
    display:  flex; 
    white-space: nowrap;
    overflow: hidden;
   
 }
 .sidebar header .image-text .image{
    margin-right: var(--size-200);
 }
.sidebar header .header-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: var(--size-200);
}
.sidebar.close .nav-text{
    display: none;
}
.sidebar.close header .toggle-button{
    transform: translateY(-50%)  ;
}
body.dark .sidebar header .toggle-button{
    color: var(--text-color);
} 
.sidebar header .toggle-button{ 
    transform: translateY(50%) rotate(180deg); 
    position: absolute;
    top: 100%;
    right: -35px; 
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    color: var(--sidebar-color);
    cursor: pointer;
}
.sidebar li{
    height: var(--size-700); 
    margin-top: var(--size-400);
    list-style: none;
    display: flex;
    align-items: center; 
}
.sidebar li .icon{
    min-width: var(--size-900);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body.dark .sidebar li .text{
    color: var(--text-color);
} 
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-04);
   white-space: nowrap;
    opacity: 1;
}
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; 
    border-radius: 5px;
    transition: var(--tran-03);
    
}
.sidebar .search{
    background-color: var(--primary-color-light);
}
.sidebar .search input{
    height: 100%;
    width: 100%;
    background: var(--primary-color-light);
    outline: none;
    border: none;
    
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar .mode {

    background: var(--primary-color-light);
    display: flex;
    flex-direction: column;
    position: relative;

}
.sidebar .mode span{
    position: absolute;
}
.sidebar .mode .moon,
body.dark .sidebar .mode .sun{
    opacity: 0;
} 
body.dark .sidebar .mode .moon{
    opacity: 1;
}
.sidebar .menu-bar{
    
    height: calc(100% - var(--size-900));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .menu-bar .toggle-switch{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: var(--size-800);
    cursor: pointer;
    
}
.sidebar.close .menu-bar .toggle-switch,
.sidebar.close .header-text,
.sidebar.close .mode-text{
    display: none;
}
.sidebar .menu-bar .toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-03);
}

.switch::before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    top: 4px;
    left: 5px;
   
    background-color: var(--sidebar-color);
    border-radius: 50%;
    transition: var(--tran-04);
}
body.dark .switch::before{

    left: 24px;
}

@media screen and ((width < 1700px) or (width < 850px)){
   
    .sidebar 
    {
        width:280px;
    }
}
